body {
	font-family: 'Montserrat', Verdana, sans-serif;
	margin: 0;
}

h1 {
	font-weight: normal;
	font-size: 3.5em;
	text-align: center;
	margin: 0;
}

h2 {
	font-size: 1.5em;
	color: #696969;
	margin: 0;
}

h3 {
	font-weight: normal;
	color: #666;
	margin-bottom: 0.25em;
}

.section-header {
	color: #a32638;
	margin: 1em 0 0 0;
}

p {
	margin: 0.5em 0;
	line-height: 150%;
}

#home-banner {
	width: 100%;
	height: 18em;
	overflow: hidden;
	display: inline-block;
	margin-top: -3.25em;
	pointer-events: none;
}

#banner-image {
	width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

#body-content {
	padding: 0.8em 8em 0 8em;
}

#body-content p {
	text-indent: 3em;
}

.team-pics-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.team-pics {
	display: inline-block;
	margin: auto 0;
	height: 18em;
	max-height: 320px;
}

figure {
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
}

figcaption {
	text-align: center;
}

/* TABLE STYLES */

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-radius: 0.25em;
}

tr:nth-child(even) {
  background-color: #EEEEEE;
}


th, td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

th:not(:first-child), td:not(:first-child) {
	border-left: 1px solid black;
	border-collapse: collapse;
}

caption {
	font-style: italic;
	font-size: 1.125em;
	padding-bottom: 0.25em;
}

/* NAV BAR STUFF */
#nav-bar {
	color: #000;
	width: 100%;
	z-index: 1;
}

#nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-link {
	float: left;
}

.nav-link a {
	display: block;
	color: white;
	text-align: center;
	padding: 1em;
	text-decoration: none;
	background-color: #000;
	opacity: 99%;
}

#last {
	border-radius: 0 0 0.5em 0;
}

#current-page a {
	background-color: #a32638;
}

.nav-link a:hover {
	background-color: #a32638;
	transition: background-color 0.5s;
}

.nav-link a:active {
	background-color: #a32638;
}